@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{ /* # Front-end Style Guide */
  /* ## Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* ## Colors */
    /* ### Primary */
    --text-pri-softBlue: hsl(215, 51%, 70%);
    --text-pri-cyan: hsl(178, 100%, 50%);
    
    /* ### Neutral (vdb = very dark bluee) */ 
    --text-neu-vdbBG: hsl(217, 54%, 11%); /* (main BG) */
    --text-neu-vdbCard: hsl(216, 50%, 16%); /* (card BG) */
    --text-neu-vdbLine: hsl(215, 32%, 27%); /* (line) */
    --text-neu-white: hsl(0, 0%, 100%);
    
  /* ## Typography */
    /* ### Body Copy */
    --f-size: 18px; /* (paragraph) */
    /* ### Font */
    --f-family: 'Outfit'; /* Weights: 300, 400, 600 (https://fonts.google.com/specimen/Outfit)*/
}

body{
  background: var(--text-neu-vdbBG);

  font-size: var(--f-size);
  font-family: var(--f-family);
  color: var(--text-neu-white);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

/***** General Styles *****/
main.ctn-main{
  background-color: var(--text-neu-vdbCard);
  padding: 1.5rem;
  border-radius: 12.75px;
  margin: 10%;
  width: var(--mobile);
}



/***** Image Styles *****/
.ctn-img{
  display: flex;
  justify-content: center;
}

.card-img{
  width: 275px;
  display: block;
  margin: auto;
  border-radius: 12.75px;

  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

}

.ctn-img>div:hover{
  width: fit-content;
  background-color: var(--text-pri-cyan);
  border-radius: 12.75px;

}


.overlay-icon {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ctn-img>div{
  position: relative;
  
}

.ctn-img>div:hover .card-img {
  opacity: 0.65;
}

.ctn-img>div:hover .overlay-icon {
  opacity: 1;
}

/***** Text Info Styles *****/
.card-title{
  font-size: 1.45rem;
  margin: 1.5rem 0 0;
}

.card-info{
  font-weight: 300;
  font-size: 0.95rem;
  letter-spacing: 0.035em;
  line-height: 1.25rem;
  margin: 0.75rem 0 1.25rem;
}


/*****  Price Styles *****/
.ctn-price{
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}

.ctn-price > div{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* ## ETH */
.crypto-info{
  color: var(--text-pri-cyan);
}

/*  ## Time */

hr{
    height: 2px;
    border: 0; 
    border-top: 1px solid var(--text-neu-vdbLine);
    margin: 1rem 0;
}

/*****  Author Styles *****/
.ctn-author{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem
}

.author-img{
  width: 35px;
  box-sizing: border-box;
  border: 1.25px solid var(--text-neu-white);
  border-radius: 50%;
}

.author-info{
  font-size: 0.925rem;
}



/*****  X Styles *****/
.card-info, .time-info, .author-info{
  color: var(--text-pri-softBlue);
}

.card-title,
.author-info span.author-name{
  color: var(--text-neu-white);
}
